{% liquid
assign button_details = product.metafields.custom.button_details.value
assign enable_button_variation = button_details.enable_button_variation
assign button_label = button_details.button_label
%}
<div class="flex flex-col product-item swiper-slide">
   
                    <a href="{{ product.url }}" class="pos-relative br-10x flex flex-bottom-align product-item-container">
                    <div class="flex-box badge-wrapper">
                        {% for item in product.metafields.custom.badge.value  limit: 2%}
                        <div class="badge">
                            {{ item.text |  metafield_tag |  replace: '<p>', '<div>' |  replace: '</p>', '</div>' |  replace: '<em>', '<span class="unit">' |  replace: '</em>', '</span>' }}
                        </div>
                        
                        {% endfor %} 
                        
                    </div>
                    
                    <div class="pos-absolute bg-visual product-img">
                        <figure>
                        {% render 'responsive-image', image: product.featured_image, image_class: 'bg-img' %}
                        </figure>
                    </div>
                    </a>
    
            {% assign currrent_variant = product.selected_or_first_available_variant %}
                     <div class="padding-top-m card-content">
                            <div class="flex flex-col card-footer">
                                <h5>{{ product.title }}</h5>
                                {{ product.metafields.custom.description |  metafield_tag }}
                                {% form 'product', product, class: 'shopify-product-form' %}
                                    {% comment %} <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}"> 
                                     {% endcomment %}
                                        <div class="flex-box flex-col lg:flex-row lg:flex-no flex-space-between btn-wrap ">
                                                <div class="dropdown product_options">
                                                    <select class="cart__product-select" name="id">
                                                    {% for variant in product.variants %}
                                                        <option data-quantity-available="{{ variant.available }}" 
                                                        data-quantity-price="{{ variant.price |  money }}"  
                                                        value="{{ variant.id }}"
                                                    {% if currrent_variant.id == variant.id %}selected="selected"{% endif %}>{{ variant.title }}</option>                                                        
                                                    {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="button cart__btn button--stroke btn btn-secondary btn-medium flex flex-x-align flex-y-align margin-top-default-sml lg:margin-top-none showCart add__card-product" data-block="button">
                                                    <span class="button__flair"></span>
                                                    <span class="button__label">
                                                    <span class="btn-txt">{% if product.available %}{% if enable_button_variation == true and button_label != blank %}{{ button_label }}{% else %}Add to Cart{% endif %}{% else %}SOLD OUT{% endif %}</span>&nbsp;-&nbsp;<span class="btn-display-price card__product-price">{{ product.price | money }}</span>
                                                    </span>
                                                </div>
                                        </div>
                                    {% endform %}  
                            </div>
                     </div>
                 
  </div>