{{ 'customer.css' | asset_url | stylesheet_tag }}


<div class="page-container common-wrap clear">


<div class="customer">
  <!-- <div class="customer__bg">
  <img src="{{'cloud.jpg' | asset_img_url: 'master'}}" alt="">
  </div> --><div class="common-wrap">
    <div class="customer__form-wrap customer__form-wrap_registration">
      <div class="customer__registration">
        <div class="customer__login-inner">
          <div class="customer__column-title">Reset Password</div>
          <div class="customer__form">

            {%- form 'reset_customer_password' -%}


              <input
                class="customer__input"
                type="password"
                name="customer[password]"
                id="ResetPassword"
                class="{% if form.errors contains 'password' %}input-error{% endif %}"
                placeholder="{{ 'customer.reset_password.password' | t }}">


              <input
                class="customer__input"
                type="password"
                name="customer[password_confirmation]"
                id="PasswordConfirmation"
                class="{% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
                placeholder="{{ 'customer.reset_password.password_confirm' | t }}">


              <button type="submit" class="customer__button btn btn_primary register-btn">Reset password</button>
              {% if form.errors %}
                {{ form.errors | default_errors }}
              {% endif %}
            {%- endform -%}


          </div>
        </div>



      </div>

    </div>
  </div>
</div>c

</div>