{% assign s = section.settings %}
    <div class="padding-y-base container-inner">
        <div class="page-container common-wrap clear">
            <div class="fadeIn margin-bottom-base flex-box flex-y-align flex-space-between flex-bottom-align content-wrap">

                {{ s.text }}
                {% if s.btn_label_desk != blank %}
                    <div class="btn-wrap">
                        <a href="{{ s.btn_url }}" class="button button--stroke btn btn-secondary btn-medium desk" data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">{{ s.btn_label_desk }}</span>
                        </a>
                        <a href="{{ s.btn_url }}" class="btn btn-secondary btn-medium mobi ">{{ s.btn_label_mobi }}</a>
                    </div>                    
                {% endif %}
            </div>
            <div class="fadeIn margin-top-xl featured-product-wrap">
                <div class="product-item-wrapper product-slider swiper-container ">
                    <div class="swiper-wrapper">
                        {% for block in section.blocks %}
                            {% assign b = block.settings %}
                            {% assign product = b.product %}

                          {% render 'product-card', product: product %}

                        {% endfor %}
                    </div>
                    <div class="desk btn-animation">
                        <div class=" swiper-button-prev">
                            <div  class="button button--stroke btn btn-primary btn-large" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label btn-arrow"></span>
                            </div>
                        </div>
                        <div class="swiper-button-next">
                            <div  class="button button--stroke btn btn-primary btn-large" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label btn-arrow"></span>
                            </div>
                        </div>                        
                    </div>                    
                </div>
            </div>
        </div>
    </div>





{% schema %}
    {
        "name": "Featured Products",
        "tag": "section",
        "class": "section padding-section featured-products-slider",
        "settings": [
            {
            "type": "richtext",
            "id": "text",
            "label": "Section text"
            },{
            "type": "text",
            "id": "btn_label_desk",
            "label": "Button Label for Desktop"
            },{
            "type": "text",
            "id": "btn_label_mobi",
            "label": "Button Label for Mobile"
            },{
            "type": "url",
            "id": "btn_url",
            "label": "Button URL"
            }
        ],"blocks": [
            {
                "type": "item",
                "name": "Item",
                "settings": [
                    {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                    },{
                    "type": "product",
                    "id": "product",
                    "label": "Select a product"
                    }
                ]
            }
        ],
        "presets": [
        {
            "name": "Featured Products"
        }
      ]
    }
{% endschema %}