{% liquid 
    assign s = section.settings 
    assign max-width = s.max-width
%}
<div class="padding-y-base padding-top-none container-inner" id="section-{{ section.id }}">
    <div class="page-container common-wrap clear">
        <div class="lg:txt-ctr lg-container flex flex-col content-wrap fadeIn">
            {{ s.heading }}
            {% if s.text != blank %}
                <div class="sml-container">
                    {{ s.text |  replace: '<p', '<p class="h5"' }}
                </div>                
            {% endif %}
        </div>
        <div class="margin-top-xxl featured-product-wrap ">
            {{ section.settings.html }}
        </div>
    </div>
</div>
{% if max-width != 0 and max-width != blank %}
<style>
    #section-{{ section.id }} .page-container {
        max-width: {{ max-width }}px;
    }   
</style>
{% endif %}

{% schema %}
    {
        "name": "HTML Content",
        "tag": "section",
        "class": "section padding-section padding-bottom-xl featured-products animationTrigger desktopOnly",
        "settings": [
            {
            "type": "richtext",
            "id": "heading",
            "label": "Section Heading"
            },{
            "type": "richtext",
            "id": "text",
            "label": "Section text"
            },{
                "type":"html",
                "id": "html",
                "label": "HTML Content"
            },{
                "type":"number",
                "id": "max-width",
                "label": "Max Width",
                "info": "Set the max width of the section. Default is 1200px."
            }
        ],
        "presets": [
        {
            "name": "HTML Content"
        }
      ]
    }
{% endschema %}