   <section class="article-hero">
     <div class="article-hero__inner">
       <div class="page-container common-wrap">
         <div class="article-hero__wrapper">
           <div class="article-hero__text scroll-animation">
             {% comment %} <a href="{{ blog.url }}"> {% endcomment %}
              {% assign read__time = article.metafields.custom.read_time %}
              {% if read__time != blank %}
                <div class="article-hero__text-duration">{{ read__time }}</div>
              {% endif %}
               <div class="article-hero__text-title fadeIn">
                 <h2> {{ article.title }} </h2>
               </div>
             {% comment %} </a> {% endcomment %}
           </div>
         </div>
       </div>
     </div>
   </section>



    <section class="article">
   <div class="article__inner">
     <div class="page-container common-wrap">
       <div class="article__wrapper">
         <div class="article__image">
           {% render 'responsive-image', image: article.image %} 
         </div>
         <div class="article__contents">
           <div class="article__content-wrapper scroll-animation">
             <div class="article__content">
                {{ article.content }}
             </div>
             <div class="article__content-date">Posted on {{ article.published_at | date: "%d %b %Y" }} {{ shop.name  }}</div>
           </div>
           <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url }}{{ article.url }}" class="article__share">
             <span>Share this</span>
             <img src="{{'share.svg' |  asset_url}}" alt="">
           </a>
         </div>
       </div>
     </div>
   </div>
 </section>