{% assign s = section.settings %} 
 <div class="blog-hero__inner">
   <div class="page-container common-wrap">
     <div class="blog-hero__wrapper">
       <div class="blog-hero__image">
         <a href="{{ s.article.url }}">
          {% render 'responsive-image', image: s.article.image %}
         </a>
       </div>
       <div class="blog-hero__texts scroll-animation">
        {% if s.sub_title != blank %}
          <p>{{ s.sub_title }}</p>
        {% endif %}
         <h2 class="fadeIn">{{ s.article.title }}</h2>
         {{ s.article.excerpt }}
         <div class="blog-hero__texts-readmore">
           <a href="{{ s.article.url }}">Read more</a>
         </div>
       </div>
     </div>
   </div>
 </div>


<div class="blog-list__inner">
  <div class="page-container common-wrap">
    <div class="blog-list__wrapper">
      <div class="blog-list__items">
          {% paginate blog.articles by 3 %}
            {% for article in blog.articles %}
              {% unless article.handle == s.article.handle %}
              <div class="blog-list__item fadeIn">
                <a href="{{ article.url }}">
                  <div class="blog-list__item-image">
                    {% render 'responsive-image', image: article.image %}
                  </div>
                  <div class="blog-list__item-text">
                    {% assign read__time = article.metafields.custom.read_time %}
                    {% if read__time != blank %}
                      <div class="blog-list__item-duration">{{ read__time }}</div>
                      
                    {% endif %}
                    <div class="blog-list__item-title">
                      <h6>{{ article.title }}</h6>
                    </div>
                  </div>
                </a>
              </div>
              {% endunless %}
            {% endfor %}
        </div>
        {% if paginate.pages > 1 %}
          <div class="blog-list__pagination">
            <div class="blog-list__pagination-wrapper">
    
              {% if paginate.previous %}
                <a class="blog-list__pagination-prev blog-list__pagination_nav" href="{{ paginate.previous.url }}">Prev</a>
              {% else %}
                <span class="blog-list__pagination-prev blog-list__pagination_nav disable">Prev</span>
              {% endif %}
    
              <div class="blog-list__pagination-items">
                {% for part in paginate.parts %}
                  {% if part.is_link %}
                    <a class="blog-list__pagination-item" href="{{ part.url }}">{{ part.title }}</a>
                  {% elsif part.title == paginate.current_page %}
                    <span class="blog-list__pagination-item active">{{ part.title }}</span>
                  {% else %}
                    <span class="blog-list__pagination-item">{{ part.title }}</span>
                  {% endif %}
                {% endfor %}
              </div>
    
              {% if paginate.next %}
                <a class="blog-list__pagination-next blog-list__pagination_nav" href="{{ paginate.next.url }}">Next</a>
              {% else %}
                <span class="blog-list__pagination-next blog-list__pagination_nav disable">Next</span>
              {% endif %}
    
            </div>
          </div>
        {% endif %}
        {% endpaginate %}
    </div>
  </div>
</div>

  {% schema %}
    {
      "name":"Main blog",
      "tag": "section",
      "class": "blog-list",
      "settings": [
        {
                "type": "article",
                "id": "article",
                "label": "Select article"
            },
            {
              "type": "text",
              "id": "sub_title",
              "label": "Sub title"
            }
      ]
    }
  {% endschema %}